#This file holds all variables used in the build.sh script.

#[Build parameters]
BASE=`pwd`

#[Universal-Chess specific names and paths]
UC_REPO_NAME="Universal-Chess"
UC_PKG_NAME="universal-chess"
SETUP_DIR=$(eval echo "~$(logname 2>/dev/null || echo "$USER")")

#[Repositories]
# Used by helper scripts/tools that fetch the repo
UC_REPO_URL="https://github.com/adrian-dybwad/${UC_REPO_NAME}"

